<style>
    @import url("/stylesheets/admin.css");

  .navbar-nav>li>a.userdelails {
    color: #e9ecef !important;
    background: linear-gradient(90deg,
            rgba(59, 125, 221, 0.1),
            rgba(59, 125, 221, 0.0875) 50%,
            transparent);
    border-left: 4px solid #3b7ddd;
}
</style>

<div class="container-fluid px-lg-4">
    <div class="row">
        <div class="container-fluid px-lg-4">
            <div class="row">
                <div class="col-md-12 mt-lg-4 mt-4">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">USER MANAGEMENT</h1>

                    </div>
                </div>


            </div>
        </div>

    </div>



    <div class="row d-flex justify-content-center">
        <section class=" card col-md-10 m-l-auto m-r-auto">
            <h2 class="text-center p-2 m-2">Add User</h2>
            <div class="container mt-4">
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-9 ">


                        	<form class="" action="/admin/add-users" method="POST" id="signupform">
									
									<div class="form-group">
										<label for="">EMAIL</label>
										<input type="email" class="form-control form-control-user" name="Email"
											id="email" aria-describedby="emailHelp"
											placeholder="Enter Email Address..." />
									</div>
									{{#if emailErr}}
										<p class="error  text-danger"> <i class="fa fa-exclamation-circle">  </i> email address is already in use </p>
									{{/if}}

									<div class="form-group">
										<label for="">Mobile Number</label>
										<input type="number" class="form-control form-control-user" id="mobileno"
											name="MobileNo"  placeholder="Enter mobile no..." />
									</div>

									<div class="form-group">
										<label for="">PASSWORD</label>
										<input type="password" class="form-control form-control-user" id="password"
											placeholder="Enter password" name="Password" />
									</div>
									<div class="form-group">
										<label for="">2 PASSWORD</label>
										<input type="password" class="form-control form-control-user" id="cPassword"
											placeholder="Enter password" name="PasswordAgain" />
									</div>
                                    <input type="text" class="form-control " id="status" value="active"	 name="Status"  style="display: none;"/>
									<button type="submit" class="btn btn-primary btn-user btn-block">
										ADD USER
									</button>
								</form>


                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
      $("#bar").click(function () {
            $(this).toggleClass("open");
            $("#page-content-wrapper ,#sidebar-wrapper").toggleClass("toggled");
        });
        //
         function toggleMenu() {
        let navigation = document.querySelector(".navigation");
        let toggle = document.querySelector(".toggle");

        navigation.classList.toggle("active");
        toggle.classList.toggle("active");
       }
</script>
