<style>
    @import url(/stylesheets/userstyle.css);
    @import url("https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css");
</style>
<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<!--========== HEADER ==========-->

<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="/" class="nav__logo">FOOD DELIVERY</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item "><a href="/" class="nav__link active-link home">Home</a></li>
                <li class="nav__item"><a href="/ourbakers" class="nav__link ourbakers">Our bakers</a></li>
                <li class="nav__item"><a href="/aboutus" class="nav__link aboutus">About us</a></li>
                <li class="nav__item"><a href="/contactus" class="nav__link contactus ">Contact us</a></li>

                {{#if user}}
                <li class="nav__item"><a href="/cart" class="nav__link cart" >Cart<span class="badge badge-light"
                            id="cart-count">{{cartCount}}</span></a></li>
                <li class="nav__item"><a href="/orders" class="nav__link orders">Orders</a></li>
                <li class="nav__item"><a href="/profile" class="nav__link profile">Profile</a></li>
                <li class="nav__item"><a href="/logout" id="logout" class="nav__link ">Logout</a></li>
                {{else}}
                <li class="nav__item"><a href="/signup" class="nav__link">Sign up</a></li>
                <li class="nav__item"><a href="/login" class="nav__link">Login</a></li>
                {{/if}}
                
                {{!-- <li><i class='bx bx-moon change-theme' id="theme-button"></i></li > --}}
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<!--========== SCROLL REVEAL ==========-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="/javascripts/userside.js"></script>





