<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
    .nav__item > .home{
     color: var(--first-color);
}
</style>

<main>
    <section class="home" id="home">
        <div class="home__container bd-container bd-grid">
            <div class="home__data">
                <h1 class="home__title">Tasty food</h1>
                <h2 class="home__subtitle">Try the best food of <br> the week.</h2>
                <a href="/ourbakers" class="button">View Menu</a>
            </div>

            <img src="/images/home.png" alt="" class="home__img">
        </div>
    </section>

</main>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->


