<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<style>
	.login,
	.image {
		min-height: 75vh
	}

	.bg-image {
		background-image: url('/images/Untitled\ design.png');
		background-size: cover;
		background-position: center center
	}
</style>
<main>
	<section>
		<div class="container-fluid mt-5">
			<div class="row no-gutter">
				<div class="col-md-6 d-none d-md-flex bg-image"></div>
				<div class="col-md-6 bg-light">
					<div class="login d-flex align-items-center py-5">
						<div class="container">
							<div class="row">
								<div class="col-lg-7 col-xl-6 mx-auto">
									<h3 class="display-4">LOGIN!!</h3> <br>
									<form action="/login" method="POST">
										<div class="form-group mb-3"> <input id="inputEmail" type="email"
												placeholder="Email address" required="" autofocus="" name="Email"
												class="form-control rounded-pill border-0 shadow-sm px-4"> </div>
										<div class="form-group "> <input id="inputPassword" type="password"
												placeholder="Password" required="" name="Password"
												class="form-control rounded-pill border-0 shadow-sm px-4 text-danger"><br>
										</div>
										<div class="custom-control custom-checkbox mb-3"> <input id="customCheck1"
												type="checkbox" checked class="custom-control-input"> <label
												for="customCheck1" class="custom-control-label">Remember
												password</label> </div> <button type="submit"
											class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign
											in</button>
									</form>
									<hr>
									<h3>Login With otp</h3>
									<form action="/otpLogin" id="otplogin" method="POST">
										<div class="form-group mb-3">
											<input id="inputmobileno" type="number" placeholder="MOBILE NUMBER"
												required="true" autofocus="" name="MobileNumber" 
												class="form-control rounded-pill border-0 shadow-sm px-4">
											<button type="submit" onclick="sendotp()"
												class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm">Send
												OTP</button>
										</div>
									</form>
									<form action="/verifyotp" method="POST">
										<div class="form-group mb-3"> <input type="text" id="verifyno" name="mobileno"> <input id="otp" type="number" placeholder="OTP"
												required="" name="Otp"
												class="form-control rounded-pill border-0 shadow-sm px-4 text-danger">
												<br>
										</div>
										<button type="submit"
											class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm">verify
											OTP
										</button>

									</form>

									<div class="text-center d-flex justify-content-between mt-4">
										<p> OR &nbsp<a href=" " class="font-italic text-muted"> <u>Create
													Account</u></a></p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- login -->


 <script>
        function sendotp() {
            let Mobile = document.getElementById(inputmobileno).innerHTML
			 
    
            $.ajax({
                url: '/otpLogin',
                data: {
                   Mobile:Mobile
                },
                method: 'post',
                success: (response) => {
                    if (response === "pending") {
                        alert("product removed from cart")
                    } else {

                       
                    }

                }
            })
        }


    </script>