@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background: #ffffff;
}
.navigation{
    position: fixed;
    
    width: 60px;
    height: 100%;
    background: #001122;
    transition: 0.5s;
    overflow: hidden;
}
.navigation:hover,
.navigation.active{
    width: 300px;
}
.navigation ul{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 60px;

}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;

}
.navigation ul li:hover{
    background: rgba(4, 0, 255, 0.589) ;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display:flex ;
    text-decoration: none;
    color:#ffffff;


}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px; 
    text-align: center;
}
.navigation ul li a .icon .fa{
    font-size: 24px;

}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px; 
    text-align: start;
    white-space: nowrap;
}

.toggle{
    position: absolute;
    top:0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #001122;
    cursor: pointer;

}

.toggle.active{
    background: rgba(4, 0, 255, 0.589);
}
.toggle::before{
    content:'\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;

}
.toggle.active:before{
    content: '\f00d' ;
}



.main{
    margin-left:60px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 4fr 8fr 1fr;
    grid-template-areas: "totalproducts  itemsaled totalamount salesamount" 
    " salesreport salesreport  totalsales totalsales " "footer footer footer footer ";
    grid-gap: 50px;

}

.totalproducts{
    background: #001aad;
    grid-area:totalproducts;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
     
}
.totalproducts .title{
    padding: 20px ;
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #ffffff;
}
.totalproducts .data{
    font-size: 50px;
    color: #ffffff;
    padding: 20px ;



}

.itemsaled{
    background: #aa0202ea;
    grid-area:itemsaled;
    margin-top: 50px;
    border-radius: 10px;
    
    

}
.itemsaled .title{
    padding: 20px ;
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #ffffff;
}
.itemsaled .data{
    font-size: 50px;
    color: #ffffff;
    padding: 20px ;



}


.totalamount{
    background: #ad7100;
    grid-area: totalamount;
    margin-top: 50px;
    border-radius: 10px;
 
    

}
.totalamount .title{
    padding: 20px ;
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #ffffff;

}
.totalamount .data{
    font-size: 50px;
    color: #ffffff;
    padding: 20px ;



}

.salesamount{
    background: #009218fa;
    grid-area: salesamount;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 10px;
    
   
}
.salesamount .title{
    padding: 20px ;
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #ffffff;
}
.salesamount .data{
    font-size: 50px;
    color: #ffffff;
    padding: 20px ;



}
.salesreport{
    background: #a3a2a2be;
    grid-area:salesreport ;
    margin-left: 50px ;
}
.salesreport h1{
    background:#e45e5e ;
    padding: 5px;
    text-align: center;
}

.totalsales{
    background: #a3a2a2be;
    grid-area:totalsales ;
    margin-right: 50px;
    
    
}
.totalsales h1{
    background:#e45e5e ;
    padding: 5px;
    text-align: center;

}
footer{
    background: #ffffff;
    grid-area: footer;
}



.navbar{
    background:#001122;
    height: 60px;
    width: 100%;
    padding-left: 60px;
    justify-content: center;
}
.navbar ul li a{
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}
@media only screen and (max-width:1040px){
    
   
    .navigation.active{
        left:0px;
        width: 100%;

    }
    .main{
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 7fr 7fr 7fr 12fr 12fr 2fr  ;
        grid-template-areas: " totalproducts"" itemsaled "
                            "totalamount ""salesamount"
                            "salesreport"
                            "totalsales"
                            "footer";


    }
    .totalproducts,.itemsaled,.totalamount,.salesamount{
        min-width: 400px;
        max-width: 600px;
        max-height: 150px;
        align-items: center;
        margin: auto;
        padding: 0px;
    }
    .totalsales,.salesreport{
        min-width: 400px;
        max-width:600px ;  
       
        max-height: 600px;
        align-items: center;
        margin: auto;
    }
    .totalsales canvas,.salesreport canvas{
        max-width: 600px ;
        align-items: center;
        
    }
    .detail-part{
        display: none;
    }
   
}

@media only screen and (max-width:550px){
    .main{
        grid-gap: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 7fr 7fr 7fr 12fr 12fr 2fr  ;
        grid-template-areas: " totalproducts "
                            " itemsaled "
                            "totalamount"
                            "salesamount"
                            "salesreport"
                            "totalsales"
                            "footer";

    }
    .totalproducts,.itemsaled,.totalamount,.salesamount{
        min-width: 200px;
        max-width: 280px;
        max-height: 150px;
        margin:auto;
        align-items: center;
        padding: 0px;
    }
    .totalsales,.salesreport{
        max-width:280px ;  
        margin: 25px;
        max-height: 400px;
        align-items: center;
    }
    .totalsales canvas,.salesreport canvas{
        max-width: 280px ;
        
    }


}


* {
    margin: 0px;
    padding: 0px;
    list-style: none;

}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: #444;
}

a:hover {
    color: #444;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
    text-decoration: none;
    outline: none;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.cp {
    cursor: pointer
}
html,body{
    height: 100%;
}
p {
    margin-bottom: 0px;
    width: 100%;
}
.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;

}
.hid{
    display: none;
}
.top-mar{
    margin-top: 15px;
}
.h-100{
    height: 100%;;
}
::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important;
}
.container-fluid{
    padding: 0px;
}
h1,h2,h3,h4,h5,h6{
    font-family: font-regular;
}
strong{
	font-family: 'Ubuntu', sans-serif;
}
body{
    background-color:#fafafa !important;
    font-family: 'Ubuntu', sans-serif;
   color: #6A6A6A;
   overflow-x: hidden;

}



.bg-login{
    background-image: url(../images/bg-balloon.jpg);
    min-height: 100%;
    background-size: 100%;
    padding: 20px;
}
.login-card{
    background-color: #fff;
    float: none;
    margin: auto;
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    margin-top: 8%;
    margin-bottom: 5%;
    
}
.detail-part{
    background-image: url(../images/photo-1559466273-d95e72debaf8.jpg);
    max-width: 100%;
    height: auto;
    padding: 30px;
    background-size: 100%;
}
.detail-part h1{
    color: rgb(214, 2, 2);
}
.detail-part p{
    color: rgb(214, 18, 18);
    margin-top: 30px;
}
.logn-part{
    padding: 30px;
}
.logo-cover img{
    margin-bottom: 30px;
}
.form-cover h6{
    margin-bottom: 30px;
}
.form-cover input{
    margin-bottom: 30px;
    border-radius: 0px;
    background-color: #cccccc38;
}
.form-footer .forget-paswd{
    text-align: left;
}
.button-div{
    text-align: right;
}
.form-footer{
    margin-bottom: 50px;
}
.button-div .btn{
    background-color: #922c88 !important;
    border-color: #922c88 !important;
}
.button-div .btn:hover{
    background-color: #922c88 !important;
    border-color: #922c88 !important;
}
.button-div .btn:active{
    background-color: #922c88 !important;
    border-color: #922c88 !important;
}
.button-div .btn:focus{
    background-color: #922c88 !important;
    border-color: #922c88 !important;
}

@media screen and (max-width: 1100px){
    .bg-login{
        background-image: url(../images/bg-mobile.jpg);
    }
    
}
